@font-face {
    font-family: 'bmhanna';
    src: url(https://cdn.rawgit.com/CheolminConanShin/LightUpYourCandle/master/public/fonts/BMHANNA.ttf);
}

@font-face {
    font-family: 'bmyeonsung';
    src: url(https://cdn.rawgit.com/CheolminConanShin/LightUpYourCandle/master/public/fonts/BMYEONSUNG.ttf);
}