@font-face {
  font-family: bmhanna;
  src: url(./fonts/BMHANNA.ttf);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-Content {
  padding-top: 33%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 33%;
  font-family: bmhanna;
}
